.btn-base-dv {
    color: white !important;
    background-color: #fd7e14 !important;
}

.btn-base-dv:hover{
    background-color: #ca6510 !important;
}

.btn-base-dv.active{
    background-color: #ca6510 !important;
    border-color: #ca6510 !important;
}